@import "tailwindcss";
@plugin "daisyui";


.gra{
  font-family: "Work Sans", sans-serif;
}

.intr{
  font-family: 'Playfair Display', serif;
  font-weight: 900; /* Adjust size */
  letter-spacing: 0.5px; /* Slight spacing */
}
.lora{
  font-family: "Lora", serif;
}
.j{
  background-color: #2F3C4A;
  
}